<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<display-name>Proxy ticket echo demo</display-name>
	<description>A quick app to demonstrate the ProxyEchoFilter.</description>
	<filter>
		<filter-name>ProxyEchoFilter1</filter-name>
		<filter-class>edu.yale.its.tp.cas.proxy.ProxyEchoFilter</filter-class>
		<init-param>
			<param-name>edu.yale.its.tp.cas.proxy.echo.targets</param-name>
			<param-value>https://hkg2.cis.yale.edu/echo/receptor1 
				https://hkg2.cis.yale.edu/echo/receptor2 
				https://hkg2.cis.yale.edu/echo/receptor3</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>ProxyEchoFilter2</filter-name>
		<filter-class>edu.yale.its.tp.cas.proxy.ProxyEchoFilter</filter-class>
		<init-param>
			<param-name>edu.yale.its.tp.cas.proxy.echo.targets</param-name>
			<param-value>https://hkg2.cis.yale.edu/echo/receptor1 
				https://hkg2.cis.yale.edu/echo/receptor2 
				https://hkg2.cis.yale.edu/echo/receptor3</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>ProxyEchoFilter3</filter-name>
		<filter-class>edu.yale.its.tp.cas.proxy.ProxyEchoFilter</filter-class>
		<init-param>
			<param-name>edu.yale.its.tp.cas.proxy.echo.targets</param-name>
			<param-value>https://hkg2.cis.yale.edu/echo/receptor1 
				https://hkg2.cis.yale.edu/echo/receptor2 
				https://hkg2.cis.yale.edu/echo/receptor3</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>ProxyEchoFilter1</filter-name>
		<url-pattern>/receptor1</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ProxyEchoFilter2</filter-name>
		<url-pattern>/receptor2</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ProxyEchoFilter3</filter-name>
		<url-pattern>/receptor3</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>ProxyTicketReceptor1</servlet-name>
		<servlet-class> 
			edu.yale.its.tp.cas.proxy.ProxyTicketReceptor</servlet-class>
		<init-param>
			<param-name>edu.yale.its.tp.cas.proxyUrl</param-name>
			<param-value>https://securedev.its.yale.edu/cas/proxy</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>ProxyTicketReceptor2</servlet-name>
		<servlet-class> 
			edu.yale.its.tp.cas.proxy.ProxyTicketReceptor</servlet-class>
		<init-param>
			<param-name>edu.yale.its.tp.cas.proxyUrl</param-name>
			<param-value>https://securedev.its.yale.edu/cas/proxy</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>ProxyTicketReceptor3</servlet-name>
		<servlet-class> 
			edu.yale.its.tp.cas.proxy.ProxyTicketReceptor</servlet-class>
		<init-param>
			<param-name>edu.yale.its.tp.cas.proxyUrl</param-name>
			<param-value>https://securedev.its.yale.edu/cas/proxy</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProxyTicketReceptor1</servlet-name>
		<url-pattern>/receptor1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProxyTicketReceptor2</servlet-name>
		<url-pattern>/receptor2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProxyTicketReceptor3</servlet-name>
		<url-pattern>/receptor3</url-pattern>
	</servlet-mapping>
</web-app>